* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  position: relative;
}
/* start header */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
  padding: 0 80px;
  position: absolute;
  width: 95%;
}
.header .home {
  margin-right: 30px;
}
.header .home a {
  padding-left: 15px;

  text-decoration: none;
  transition: all 1s;
  display: inline-block;
  color: #000;
  font-size: 13px;
}
.icon a img {
  height: 50px;
}
.header .home a:hover {
  animation: upToDown 0.5s;
  color: #f55f8d;
}
.btn {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-weight: 450;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  transition: 0.5s;
  background-size: 200%;
  color: #fff;
  margin-left: 20px;
}
.btn:hover {
  background-position: right center;

  text-decoration: none;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* end header */
/* start product */
.product {
  background: url(./img/pic2.png);
  background-size: 100%;
  background-position: top;
  overflow: hidden;
  width: 100%;
}
.product__content {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  padding: 0 10px;
}
.product__title {
  width: 50%;
  margin-left: 70px;
  line-height: 1.3;
  margin-right: 50px;
  margin-top: 50px;
}
.product__title h1 {
  font-size: 60px;
  color: #262626;
}
.product__title ul li {
  list-style: none;
}
.product__title ul li i {
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f55f8d 10%,
    #f8ae56 90%
  );
  color: white;
}
.product__title h3 {
  color: #f55f8d;
}
.product__title p,
.product__title ul {
  color: darkgray;
}
.product__img {
  width: 40%;
  margin-right: 10px;
}
.product__img img {
  width: 100%;
  height: 100%;
}
.product__title .btn {
  margin-top: 20px;
  margin-left: 0;
}
/* end product */
/* start services */
.services__title {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #f55f8d;
}
.services__title h1 {
  font-size: 60px;
  color: #262626;
}
.services {
  background-image: url(./img/bg2.png);

  background-size: 100%;
  background-position: top;
  overflow: hidden;
  width: 100%;

  padding-top: 120px;
  text-align: center;
}
.services__list-item {
  display: flex;
  margin-left: 70px;
  margin-bottom: 100px;
}
.services__list-item .item {
  background: white;
  width: 27%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 10px;
  border-radius: 7px;
  margin-left: 30px;
  transform: translateY(0);
  transition: 0.5s;
}
.services__list-item .item:hover {
  transform: translateY(-20px);
}
.services__list-item .item p {
  width: 80%;
  margin: auto;
  font-size: 12px;
  margin-top: 20px;
  color: #636363;
}
.services__list-item .item h3 {
  color: #262626;
}
.services__list-item img {
  width: 80%;
  margin-bottom: 20px;
}
/* end services */
/* start business */
.business__content {
  display: flex;
  position: relative;
}
.business__title .product__title {
  width: 70%;
  line-height: 1.1;
  margin-top: 0px;
}
.business__title .product__title p,
.business__title .product__title ul {
  font-size: 13px;
  color: #636363;
}
.business__title .product__title ul li {
  margin-bottom: 10px;
}
.business__title .product__title ul li i {
  color: #f55f8d;
  background-image: none;
  border: 1px solid #f55f8d;
  font-size: 13px;
}
.business__img {
  width: 100%;
  margin-top: 70px;
  transition: 0.5s;
}

.business__img img {
  width: 100%;
  border-radius: 50px;
  height: 80%;
}
/* end business */
/* start number */
.number {
  background: url(./img/bg14.png);
  background-repeat: none;
  background-position: center;
  margin-top: 70px;
  /* text-align: center; */
}
.number__list-item {
  display: flex;
  justify-content: center;

  height: 100%;
  padding: 70px 0;
}
.number__list-item .item {
  width: 20%;
  text-align: center;
}
.number__list-item .item i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 40px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  line-height: 70px;
  display: inline-block;
  background-size: 200%;
  margin-bottom: 15px;
  color: white;
}
.number__list-item .item h1 {
  font-size: 55px;
  color: #f55f8d;
}
.number__list-item .item p {
  color: #636363;
  font-size: 15px;
}

/* end number */
/* start features */
.features {
  background: url(./img/bg2.png);
  background-repeat: none;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  padding-top: 100px;
  line-height: 1.3;
  padding-bottom: 50px;
}
.features__content {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  margin: auto;
  width: 100%;
  margin-left: 100px;
}
.content__left {
  width: 60%;
}
.content__left h1 {
  font-size: 60px;
  color: #262626;
  /* width: 100%; */
}
.content__left-item {
  margin-top: 20px;
  /* box-sizing: border-box; */
  width: 90%;
  z-index: 1;
  transition: all 1s;
}
.content__left-item .item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  transition: all 1s;
}
.content__left > h3 {
  color: #f55f8d;
}

.content__left-item i {
  font-size: 70px;
  margin-right: 20px;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.content__left-item .text p {
  font-size: 13px;
  width: 95%;
  color: #636363;
  margin-top: 10px;
  z-index: 1;
  transition: all 1s;
}
.content__left-item .text h3 {
  color: #262626;
  transition: all 1s;
}
.content__right img {
  width: 80%;
}
.content__left-item:hover .item1 {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 15px;
}

.item1:hover div,
.item1:hover h3,
.item1:hover p,
.item1:hover i {
  color: white;
}
.item2 {
  margin-left: 40px;
}
.content__right img {
  animation: move2 5s infinite;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* end features */
.portfolio {
  /* height: 500px; */
  width: 100%;
  margin: auto;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 80px;
}
.content h1 {
  font-size: 60px;
  color: #262626;
}
.content h3 {
  color: #f55f8d;
  margin-bottom: 15px;
}

.portfolio__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;

  width: 80%;
  grid-gap: 30px;
  margin: auto;
  margin-top: 20px;
}
.portfolio__item1 {
  grid-column: 1 / span 2;
}
.animation {
  position: relative;
  overflow: hidden;
}
.portfolio__item5 {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
}
.portfolio__item6 {
  grid-column: 1 / span 2;
}
.portfolio__list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio__icon {
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  padding: 5px;
  border-radius: 7px;
  opacity: 0;
}
.portfolio__icon i {
  font-size: 30px;
  color: white;
}
.animation:hover .portfolio__icon {
  opacity: 1;
  right: 20px;
  top: 20px;
  transition: 1s;
}
.portfolio__text {
  color: white;
  opacity: 0;
  position: absolute;
  transition: 1s;
  bottom: 0;
  left: 0;
}
.animation:hover .portfolio__text {
  opacity: 1;
  bottom: 20px;
  left: 20px;
}
/* hieu ung vet sang */
.animation::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.animation:hover::before {
  left: 125%;
}
/* end portfolio */
/* start plan */
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.plan__content {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
.plan__item {
  padding: 30px 65px;
  transition: 0.3s;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-radius: 5px;
  /* overflow: hidden; */
}
.plan__item:hover {
  border: 3px dashed rgba(255, 68, 0, 0.658);
}
.plan__basic {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  /* overflow: hidden; */
}
.price img {
  width: 125px;
}
.price {
  text-align: center;
}
.price span {
  color: #f8ae56;
  font-size: 40px;
  font-weight: 800;
}
.price h3 {
  color: #262626;
  font-size: 28px;
}
.contais ul li {
  padding: 5px;
  list-style: none;
  font-size: 13px;
  color: #262626;
  font-weight: 400;
}
.contais ul li i {
  color: #f55f8d;

  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  background: #feeff3;
}
.contais .btn {
  font-size: 13px;
}

/* end plan */
/* start testimonial */
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
}
.testimonial .content {
  margin-bottom: 30px;
}
.testimonial__content {
  min-height: 300px;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}
.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}

/* end testimonial */
/* start blog */
.blog {
  width: 100%;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.blog_list-item {
  display: flex;
  width: 90%;
  overflow: hidden;
  margin: auto;
}
.blog_content {
  text-align: center;
}
.blog_list-item .item {
  width: 40%;
  margin: 10px;
  background-color: rgba(245, 95, 141, 0.1);
}
.blog_list-item .item-img img {
  width: 100%;
  border-radius: 5px;
}
.item-img {
  position: relative;
}
.item-img button {
  padding: 10px;
  text-transform: uppercase;
  position: absolute;
  bottom: -15px;

  left: 0px;
  border-radius: 5px;
}
.text-top {
  margin-top: 30px;
  line-height: 1.5;
  width: 90%;
  margin-left: 15px;
}
.text-top h3 {
  font-weight: 700;
  font-size: 22px;
  color: #262626;
}
.text-top p {
  font-size: 17px;
  color: #636363;
}
.text-bottom {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 80%;
  font-size: 13px;
  margin: 20px 15px;
  align-items: center;
  color: #636363;
}
.text-bottom i {
  font-size: 20px;
  color: #f55f8d;
}
.text-bottom span {
  color: #f55f8d;
}

/* end blog */
/* start footer */
.footer {
  background-image: url(./img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.footer_top .form {
  display: flex;
  width: 50%;
}
.footer_top .form button {
  font-size: 15px;
  padding: 20px 20px;
  width: 20%;
  transition: all 1s;
}
.footer_top .form .btn {
  border-radius: 5px;
  margin: 0%;
}
.footer_top .form input {
  font-size: 15px;
  padding: 20px 20px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.5s;
  outline: none;
}
.footer_top .form input:hover {
  border-color: #f55f8d;
}
.footer_top .form input:focus {
  border-color: #f55f8d;
}
.footer_top .text h2 {
  color: #262626;
}
.footer_top .form button:hover i {
  animation: upToRight 0.5s;
  /* color: #f55f8d; */
}
@keyframes upToRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
}
.footer_bottom ul li {
  list-style: none;
  padding: 10px;
}

.samar ul li i {
  margin-right: 10px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 13px;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f55f8d 10%,
    #f8ae56 90%
  );
  color: white;
}
.samar ul li {
  display: flex;
}
.samar ul li span {
  /* display: block; */
  font-size: 14px;
}
.ourlink {
  padding-top: 50px;
}
.ourlink ul {
  margin-top: 30px;
  padding-bottom: 50px;
}
.ourlink ul li a {
  color: #636363;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.5s;
}
.ourlink ul li a i {
  margin-right: 10px;
}
.ourlink {
  margin-top: 15px;
}
.ourlink h3 {
  font-size: 24px;
}
.ourlink ul li a:hover {
  color: white;
}
.ourlink h3 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.ourlink h3::after,
.ourlink h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.ourlink h3::after {
  width: 45px;
  left: 20px;
}
.ourlink h3::before {
  width: 15px;
}
.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_content {
  width: 80%;
  margin: auto;
}
.footer_right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer_right a:hover {
  background: #f55f8d;
}
.footer_left span {
  color: #f55f8d;
}
.back-to-top {
  bottom: 100px;
  right: 50px;
  background: #f55f8d;
  border-radius: 8px;
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;

  /* visibility: hidden; */
  /* opacity: 0; */
}
.back-to-top i {
  padding-top: 15px;
  color: white;
}
